.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap:20px;
}


.add-imageupload img{
    width: 120px;
}

.add-productname,.add-productdescription{
width: max(40%,280px);


}

.add-productname input, .add-productdescription textarea{
    padding: 10px;
}

.categoryprice{
    gap: 30px;
    display: flex;
}

.categoryprice select, .categoryprice input{
    max-width: 120px;
    padding: 10px;

}

.Addbutton{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}