.loginpopup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.loginpopupcontainer{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 8px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.loginpopuptitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.loginpopuptitle img{
    width: 16px;
    cursor: pointer;
}

.loginpopupinputs{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.loginpopupinputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.loginpopupcontainer button{
   border: none;
   padding: 10px;
   border-radius: 4px;
   color: white;
   background-color: tomato;
   font-size: 15px;

}

.loginpopupcondition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.loginpopupcondition input{
    margin-top: 5px;
}

.loginpopup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}